{{#if controller.isNew}}
  <legend>New time zone</legend>
{{else}}
  <legend>Edit time zone</legend>
{{/if}}

{{partial 'timezones/form'}}

<p>
  <button {{action updateItem this}} class='btn btn-success'>
    Save
  </button>
</p>