{{#each itemController="timezone"}}
  <div>
    <span>{{name}}</span>
    <span>{{city}}</span>
    <span>{{gmt}}</span>
    {{#link-to 'timezones.edit' this class='btn'}}Edit{{/link-to}}
    <button {{action 'removeTimezone'}} class='btn'>Delete</button>
  </div>
{{/each}}

{{#link-to 'timezones.new'}}Add time zone{{/link-to}}
