<legend>About</legend>
<div>This is an sample application which demonstrates Sinagle Page Application concepts</div>

<div class='offset'>
  You can login as a demo user with login
  <code>user@test.com</code>
  and password
  <code>123456</code>
</div>