<div class='container-fluid'>
  {{render 'navbar'}}

  <div class='jumbotron'>
    {{outlet}}
  </div>

  <footer>
    <div class='navbar navbar-default' role='navigation'>
      <div class='row'>
        <div class='text-center copy'>
           <span class='glyphicon glyphicon-wrench'></span> &nbsp; Alex Emelyanov © 2014
        </div>
      </div>
    </div>
  </footer>
</div>