<div>
  {{#link-to 'login'}}Login{{/link-to}}
  {{#link-to 'registration'}}Registration{{/link-to}}
</div>
<h1>{{#link-to 'timezones'}}Time zones{{/link-to}}</h1>

{{outlet}}

<br />
<div>Footer</div>